version: "3.8"
services:
  app:
    build:
      context: ./backend
      dockerfile: Dockerfile
    env_file:
      - ./backend/.env
    ports:
      - "3001:3001"
    restart: unless-stopped
    # Uncomment for development to mount your code so changes reflect immediately:
    volumes:
      - ./backend:/usr/src/app
      - ./frontend:/usr/src/app/frontend:ro
